.topbar {
  position: sticky;
  top: 0;
  z-index: 5;
}

.left {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-size: 12px;
  opacity: 0.85;
}

.spacer {
  flex: 1;
}
